/* Custom app color variables are defined here
*/


//primary theme colors
$picton-blue : #40B7E7;
$seashell : #F0F0F0;
$tundora : #231F20;
$geraldine : #F46E67;
$conifer : #A4D269;

//fonts
$font-family-sans-serif : sans-serif;
$font-family-merriweather : 'Merriweather';
$font-family-lato : "Lato", Helvetica, Arial, serif;
$primary-font-family : $font-family-lato;

$warning-color : #f49067;
$success-color : #a1d258;
$primary-app-color : #22448f;
$bg-mask-color : #6e79a1;
$font-size : 16px;
$primary-bg : #fff;
$secondary-bg : #f2f5f8;
$primary-btn : $primary-app-color;
$secondary-btn : #7c3931;
$primary-text : dimgrey;
$secondary-text : black;
$error : #ff0000d9;
$primary-border : #d5d5d5;
$sidebar-bg : rgb(46, 51, 68);
$logo-bg : #2e7c9a;
$title-primary : #ffffff;
$menu-active : rgb(32, 35, 47);
$header-gradient-1: #2e7b9a;
$icon-bg: #369CC6;
$header-gradient-2: #0f4a6c;
$primary-info: #464D69;
$primary-dropdwn : #FAFAFA;
$secondary-border : #a3a3a3;
$table-bg : darkgray;
$row-select-primary : #e9f6fc;
$row-select-secondary : #e3f7c9;
$table-border : #f8f9fa;
$blood-red: #ba1f1f;
$box-shadow-color : rgba(64, 183, 231, 0.25);

//date-range-picker
$range-end-color : $row-select-secondary;