.dashboard-wrapper{
  .session-slider{
    $wallpapers : "../img/dashboard/166027.jpg","../img/dashboard/166015.jpg","../img/dashboard/166134.jpg";
    .wallpaper{
      width: 1920px;
      height: 576px;
    }
    @for $i from 0 through 2{
      $img : nth($wallpapers,$i+1);
      .wall-#{$i}{
        background: url($img);
      }
    }
  }

  .send{
    width: 30%;
    position: absolute;
    top: 20%;
    left: 34%;
    text-align: center;
    background: #eab87df7;
    padding: 25px;
    border-radius: 8px;
    .btn-primary{
      width: 100% !important;
      padding: 10px !important;
      background: $secondary-btn !important;
      .MuiButton-label{
        color: $primary-bg;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input::before {
    content: url("../flag-icons/flag-np.svg");
    margin-right: 8px;
    position: relative;
    top: 1px;
    height: 2px;
    width: 2px;
  }

  .select-country .MuiFormControl-root{
    width: 100% !important;
    text-align: left !important;
  }

  .featured-box .text-primary{
    color : $primary-btn !important;
  }

  .featured-box.style-4 .featured-box-icon {
    margin: 0 auto 1.5rem;
    width: 120px;
    height: 120px;
    text-align: center;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.03);
  }

  .featured-box:not(.style-5) .featured-box-icon {
    font-size: 40px;
    line-height: 45px;
    padding: 0;
    border-radius: 0;
  }
}
