body{
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.btn-primary{
  background: $primary-btn !important;
}
.btn-outline-primary {
  color: $primary-btn;
  background-color: transparent;
  background-image: none;
  border-color: $primary-btn;
}
.btn-outline-primary:hover {
  background-color: $primary-btn;
}
.btn-primary:hover{
  opacity: 0.8;
}
.text-9{
  font-size: 2.25rem !important;
}
.text-4{
  font-size: 1.125rem !important;
}
.text-3{
  font-size: 1rem !important;
}
.featured-box:not(.style-5) .featured-box-icon {
  display: inline-block;
  font-size: 40px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  width: 45px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #4c4d4d;
  border-radius: 0;
}
.featured-box h3, .featured-box h4 {
  font-size: 20px !important;
  margin-bottom: 10px;
  font-weight: 500;
}
p {
  line-height: 1.9;
}
.section {
  position: relative;
  padding: 5.5rem 0;
}

a, a:focus {
  color: $primary-btn;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bg-dark-3 {
  background-color: #2b343c !important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.border-0 {
  border: 0!important;
}
.opacity-8 {
  opacity: 0.8;
}
.card-img {
  width: 100%;
  border-radius: calc(.25rem - 1px);
}
.p-0 {
  padding: 0!important;
}

.shadow-md {
  -webkit-box-shadow: 0 0 50px -35px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 50px -35px rgba(0, 0, 0, 0.4);
}
.m-auto {
  margin: auto!important;
}
.rounded-circle {
  border-radius: 50%!important;
}
.bg-white {
  background-color: #fff!important;
}
.fa{
  color : $primary-btn !important;
}
.line-height-5 {
  line-height: 1.8 !important;
}
.back-to-top:hover {
  background-color: #2dbe60;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.back-to-top {
  display: none;
  position: fixed;
  z-index: 1030;
  bottom: 8px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  font-size: 16px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}