.app-horizontal{
  .btn-primary{
    background: $primary-btn !important;
  }
  .btn-outline-primary {
    color: $primary-btn;
    background-color: transparent;
    background-image: none;
    border-color: $primary-btn;
  }
  .btn-outline-primary:hover {
    background-color: $primary-btn;
    color: $primary-bg;
  }
  .btn-primary:hover{
    opacity: 0.8;
  }
  .text-9{
    font-size: 2.25rem !important;
  }
  .text-4{
    font-size: 1.125rem !important;
  }
  .text-3{
    font-size: 1rem !important;
  }
  .featured-box:not(.style-5) .featured-box-icon {
    display: inline-block;
    font-size: 40px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    width: 45px;
    margin-top: 0;
    margin-bottom: 25px;
    color: #4c4d4d;
    border-radius: 0;
  }
  .featured-box h3, .featured-box h4 {
    font-size: 20px !important;
    margin-bottom: 10px;
    font-weight: 500;
  }
  p {
    line-height: 1.9;
  }
  .section {
    position: relative;
    padding: 5.5rem 0;
  }

  a, a:focus {
    color: $primary-btn;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .bg-dark-3 {
    background-color: #2b343c !important;
  }
  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }
  .border-0 {
    border: 0!important;
  }
  .opacity-8 {
    opacity: 0.8;
  }
  .card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px);
  }
  .p-0 {
    padding: 0!important;
  }

  .shadow-md {
    -webkit-box-shadow: 0 0 50px -35px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px -35px rgba(0, 0, 0, 0.4);
  }
  .m-auto {
    margin: auto!important;
  }
  .rounded-circle {
    border-radius: 50%!important;
  }
  .bg-white {
    background-color: #fff!important;
  }
  .fa{
    color : $primary-btn !important;
  }
  .line-height-5 {
    line-height: 1.8 !important;
  }
  .back-to-top:hover {
    background-color: #2dbe60;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .back-to-top {
    display: none;
    position: fixed;
    z-index: 1030;
    bottom: 8px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 0.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
  .pl-0, .px-0 {
    padding-left: 0!important;
  }

  .pr-0, .px-0 {
    padding-right: 0!important;
  }
  .h-100 {
    height: 100%!important;
  }
  .hero-wrap {
    position: relative;
  }
  .hero-wrap .hero-mask {
    z-index: 1;
    background: $primary-btn;
  }
  .hero-wrap .hero-mask, .hero-wrap .hero-bg, .hero-wrap .hero-bg-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .hero-wrap .hero-bg {
    background: url("../img/dashboard/prayer_wheels.jpg");
    z-index: 0;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    transition: background-image 300ms ease-in 200ms;
  }
  .hero-wrap .hero-bg.hero-bg-scroll {
    background-attachment: scroll;
  }
  .hero-wrap .hero-content {
    position: relative;
    z-index: 2;
  }
  .text-11 {
    font-size: 2.75rem !important;
  }
  .text-4 {
    font-size: 1.125rem !important;
  }
  .mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
  }
  .mt-4, .my-4 {
    margin-top: 1.5rem!important;
  }
  .font-weight-400 {
    font-weight: 400 !important;
  }
  .mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
  }
  .form-control:not(.form-control-sm) {
    padding: .810rem .96rem;
    height: inherit;
  }
  .form-control, .custom-select {
    border-color: #dae1e3;
    font-size: 16px;
    color: #656565;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .rct-session-wrapper{
    .text-primary, .btn-light, .btn-outline-light:hover, .btn-link {
      color: $primary-btn !important;
    }
  }
}