.dashboard-wrapper {
  .dashboard-header {
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .greeting-label {
    margin-top: 90px;
    margin-left: 15px;
    .greeting-user {
      color: $title-primary;
      font-weight: 700;
      font-size: 24px;
    }
    .greeting-time {
      color: $title-primary;
      font-size: 16px;
    }
    .clock-image {
      margin-right: 15px;
      margin-left: 5px;
      i {
        font-weight: 900;
      }
    }
  }
  @mixin header {
    color: $title-primary !important;
    padding: 1.3rem !important;
    margin-bottom: -1px;
    .card-title-custom {
      color: $title-primary !important;
      margin-bottom: 2px !important;
    }
    .sub-header {
      font-size: 14px !important;
    }
    border-radius: 0.25rem 0.25rem 0 0 !important;
  }
  @mixin page-loader {
    position: relative;
    top: 50px;
  }

  .content {
    min-height: 200px;
    border-radius: 0 0 0.25rem 0.25rem !important;
  }

  .MuiTableCell-root {
    padding: 25px;
    .fa {
      color: $primary-bg
    }
    background: $title-primary;
    height: 85px !important;
  }
  .MuiTableRow-root th:last-child, .MuiTableRow-root td:last-child {
    text-align: right;
    padding-right: 5%;
  }
  .MuiTableRow-root {
    th {
      font-weight: 800;
    }
    th, td {
      font-size: 16px;
      color: $primary-text;
    }
  }
  .inline-span {
    display: inline-block;
    min-width: 30px;
  }

  .fa-minus{
    color : $primary-text !important;
  }
  .fa-arrow-up{
    color : $success-color !important;
  }
  .fa-arrow-down{
    color : $error !important;
  }
  .custom-border {
    height: 80px;
    position: relative;
    top: -10px;
  }
  .dashboard-users {
    .header {
      @include header;
      background: $primary-bg !important;
    }
    .page-loader {
      @include page-loader;
      .MuiCircularProgress-root {
        color: $primary-bg !important;
      }
    }
    .MuiTableRow-root th:first-child, .MuiTableRow-root td:first-child {
      width: 10%;
    }
  }
  .dashboard-alerts {
    .header {
      @include header;
      background: linear-gradient(to right, $header-gradient-1, $header-gradient-2) !important;
    }
    .page-loader {
      @include page-loader;
      .MuiCircularProgress-root {
        color: $primary-btn !important;
      }
    }
  }
  .dashboard-user-conn-stats {
    .header {
      @include header;
      background: linear-gradient(to right, $header-gradient-1, $header-gradient-2) !important;
    }
    .page-loader {
      @include page-loader;
      top: 15px;
      .MuiCircularProgress-root {
        color: $title-primary !important;
      }
    }
    .content {
      background: linear-gradient(to right, $header-gradient-1, $header-gradient-2) !important;
    }
    td{
      text-align:center;
    }
    .CircularProgressbar {
      width: 90px !important;
      height: 90px !important;
      margin:auto;
    }
    .CircularProgressbar-text{
      fill: $title-primary !important;
    }
    .CircularProgressbar-path {
      stroke: $primary-bg !important;
    }
    .CircularProgressbar-trail {
      stroke: rgb(110, 163, 186) !important;
    }
    .stat-text{
      margin-top: 10%;
    }
    .stat-2nd{
      right: 0;
    }
  }

  .dashboard-appointments {
    .header {
      @include header;
      background: linear-gradient(to right, $tertiory-bg, $primary-bg) !important;
    }
    .page-loader {
      @include page-loader;
      top: 15px;
      .MuiCircularProgress-root {
        color: $title-primary !important;
      }
    }
    .content {
      background: linear-gradient(to right, $tertiory-bg, $primary-bg) !important;
    }
    .fa{
      color: $title-primary;
    }
    .stat-val{
      color:$title-primary;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 0;
    }
    table{
      margin-top: 9px;
      margin-right:5%;
    }
    td{
      text-align: center;
      width: 150px;
    }
    .custom-border{
      top : -15px !important;
    }
  }

  .dashboard-connection-reminder {
    .header {
      border-left: 5px solid rgb(54, 156, 198) !important;
      @include header;
      border-radius: 0.25rem !important;
      background: $primary-bg;
      .card-title-custom {
        color: $primary-btn !important;
      }
    }
    .page-loader {
      position: relative;
      top: -10px;
      .MuiCircularProgress-root {
        color: $title-primary !important;
      }
    }
    table{
      width: fit-content;
    }
    td{
      font-size: 14px !important;
      font-weight: 400 !important;
    }
    td:not(.notification-icon){
      padding: 0 30px 0 30px;
    }
    .first-td{
      padding-left : 10px !important;
    }
    .use-border{
      border-right: 0.5px solid $title-primary;
    }

  }

}